{
    auto_https off
}

:80 {

    # ---------- API ----------
    handle_path /api/* {
        root * /app/api/public
        php_server
    }

    # ---------- SUPER ADMIN ----------
    handle_path /super_admin/* {
        root * /app/super_admin
        php_server
    }

    handle {
        respond "SocietyOS Running"
    }
}