{
    auto_https off
}

:80 {

    # Super Admin
    handle_path /super_admin/* {
        root * /app/super_admin
        php_server
    }

    # Everything else goes to the existing API
    root * /app/api/public
    php_server
}